
<h1><%= @user_detail.name %></h1>

<p>
<strong>age: </strong> <%= @user_detail.age%><br />
<strong>age in words:</strong><%= NumbersInWords.in_words(@user_detail.age)%><br />
<strong>salary:</strong> <%= @user_detail.salary%><br />
<strong> salary in words:</strong> <%=NumbersInWords.in_words(@user_detail.salary)%><br />
  <strong>mobile number: </strong> <%= @user_detail.mobile_number %><br /> 
  <strong>sex: </strong> <%= @user_detail.sex %><br />
<strong>user address :</strong> <%= @user_detail.user.name%><br />
</p>


<hr />

<%= link_to 'Back', {:action => 'index'} %>
<%= link_to 'Download Report', {:action => 'invoice',format: :pdf,:id => @user_detail.id} %>




